* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  line-height: 1.7;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-scrollbar {
  display: none;
}
